@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');





body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 70px;
    margin-left: 25px;
    margin-bottom: 25px;
    color:rgb(10, 10, 10)
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size:25px;
    margin-left: 25px;
}

#WindSpd {
    margin-bottom: 50px;
}


#main {
    position:absolute;
    top:25%;
    left:35%;
 
}

#weather-container {
    display: flex;
    justify-content: left;
    background-color: rgb(160, 242, 248);
    width: 650px;
    height: 500px;
    /*border-radius: 7px;*/
}

#wc2 {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width:350px;
    height:320px;
    /*border-radius: 5px;*/
}

#temperature_and_conditions {
    display: flex;
    flex-direction: row;
}
